body {
  background-color: #222629;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-body-tertiary {
    background-color: rgba(213, 204, 204, 0.2) !important;
      text-align: center;
}
.navbar-nav {
  margin: 0 auto;
}
.navbar-nav .nav-item {
  padding: 0% 2.5rem;
  font-size: 32px;
  font-weight: 400;
  font-family: open-sans;
}
.navbar .nav-link {
  color: #FFFDF7;
}
.logo-teksti{
    color: #86C232
}
.navbar-logo{
padding-left: 2%;
}
.footer-teksti-1{
  color: #86C232
}
.footer-teksti-2{
  color: #FFFDF7;
}

.artikkeli-teksti {
  color:#86C232;
  padding-left: 65%;
  text-align: left;
  padding-top: 25%;
}

.artikkeli-teksti h2 {
  font-size: 40px;
  font-family: open-sans;
  margin-bottom: 60px;
}

.artikkeli-teksti pre {
  font-family: open-sans;
}

.etusivu-taustakuva {
  background-image: url(kuvat/planttietusivubackground.png);
  width: 1512px;
  height: 756px;
}