body {
  background-color: #222629;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-body-tertiary {
    background-color: rgba(213, 204, 204, 0.2) !important;
      text-align: center;
}
.navbar-nav {
  margin: 0 auto;
}
.navbar-nav .nav-item {
  padding: 0% 2.5rem;
  font-size: 32px;
  font-weight: 400;
  font-family: open-sans;
}
.navbar .nav-link {
  color: #FFFDF7;
}
.logo-teksti{
    color: #86C232
}
.navbar-logo{
padding-left: 2%;
}
.footer-teksti-1{
  color: #86C232
}
.footer-teksti-2{
  color: #FFFDF7;
}